<label  {% if field.name == "id"  %} class="d-none"  {% endif %}>{{ field.label }}  {% if field.isRequired %}*{% endif %} </label>
<input data-provide="datepicker" class="datepicker form-control  {% if field.name == "id"  %} d-none  {% endif %}>" 
       name="inp-{{ field.name }}" 
       id="inp-{{ field.name }}" 
       aria-describedby="{{ field.name }}" {% if disabled %}disabled{% endif %} 
       placeholder="yyyy/mm/dd"
       {% if field.isRequired %}required{% endif %}>
<span class="text-danger d-none" id="error-{{field.name}}"></span> 
