<!-- this is a varchar but it can be called from the table view as if it finds a foreign id and then 
 we can assume (as we do with the select) it is a foreign look up and we have some rules for these, 
to make it look neater we remove the  trailing id 

note as this is a generic function and all that changess the type we can just set this using inputType as we set this further up the build chain

is data-type required?

-->
{% set labelLength = field.label | length %}
{% set lastThree = field.label[labelLength - 3] ~ field.label[labelLength - 2] ~ field.label[labelLength - 1] %}
{% if lastThree == ' Id' %}
  {% set cleanLabel = field.label | truncate(labelLength - 3, true, '') %}
{% else %}
  {% set cleanLabel = field.label %}
{% endif %}
{% set safeSize = field.maxCharacters or 30 %}
<label  {% if field.name == "id"  %} class="d-none"  {% endif %}>{{ cleanLabel }} {% if field.isRequired %}*{% endif %}</label>
<input type="{{ field.inputType }}" data-type="{{ field.inputType }}" 
       class="form-control {% if field.name == 'id' %} d-none {% endif %}" 
       name="inp-{{ field.name }}" 
       value="{{ field.inputValue }}"
       id="inp-{{ field.name }}" 
       aria-describedby="{{ field.name }}" 
       data-foreigntable="{{ field.foreignTable }}"
       data-foreignId="{{ field.foreignId }}"
       size="{{ safeSize}}"
       {% if field.inputType == "tel" %}pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"{% endif %}
       {% if field.maxCharacters %}maxlength="{{ field.maxCharacters }}"{% endif %}
       {% if disabled %}disabled{% endif %}
       {% if field.isRequired %}required{% endif %}>
<span class="text-danger d-none" id="error-{{field.name}}"></span>  