<input type="number"  data-type="integer"  class="form-control form-control-user" 
       name="inp-{{ field.name }}" 
       id="inp-{{ field.name }}" 
       data-foreigntable="{{ field.foreignTable }}"
       data-foreignId="{{ field.foreignId }}"
       aria-describedby="{{ field.name }}" value="{{ defaultInteger }}" {% if disabled %}disabled{% endif %}
       {% if field.isRequired %}required{% endif %}>
<span class="text-danger d-none" id="error-{{field.name}}"></span>  
