<label  {% if field.name == "id"  %} class="d-none"  {% endif %}>{{ field.label }}  {% if field.isRequired %}*{% endif %}</label>
<input  data-type="real"  type="number" class="form-control {% if field.name == "id"  %} d-none  {% endif %}>" 
       name="inp-{{ field.name }}"
       id="inp-{{ field.name }}" 
       data-foreigntable="{{ foreignTable }}"
       data-foreignId="{{ foreignId }}"
       aria-describedby="{{ field.name }}" value="{{ defaultInteger }}" {% if disabled %}disabled{% endif %}
       {% if field.isRequired %}required{% endif %}>
<span class="text-danger d-none" id="error-{{field.name}}"></span>  
