<input type="number" class="form-control form-control-user" 
       name="inp-{{ field.name }}" id="inp-{{ field.name }}" 
       aria-describedby="{{ field.name }}" value="" {% if disabled %}disabled{% endif %}>