{% set labelLength = field.label | length %}
{% set lastThree = field.label[labelLength - 3] ~ field.label[labelLength - 2] ~ field.label[labelLength - 1] %}
{% if lastThree == ' Id' %}
  {% set cleanLabel = field.label | truncate(labelLength - 3, true, '') %}
{% else %}
  {% set cleanLabel = field.label %}
{% endif %}
{% set defaultConstraint = field.definition | selectattr("variant", "equalto", "default") | list | first %}
{% set selectedValue = defaultConstraint and defaultConstraint.value and defaultConstraint.value.value or '' %}
<label {% if field.name == "id" %} class="d-none" {% endif %}>{{ cleanLabel }}  {% if field.isRequired %}*{% endif %}</label>

<select
  class="form-control selectpicker {% if field.name == "id" %} d-none {% endif %}"
  name="inp-{{ field.name }}"
  id="inp-{{ field.name }}"
  data-foreigntable="{{ field.foreignTable }}"
  data-foreignId="{{ field.foreignId }}"
  data-live-search="true"
  {% if disabled %}disabled{% endif %}
  {% if field.isRequired %}required{% endif %}
>
{% if field.selectOptions %}
    <option value="">Please Select</option>
     {% for option in field.selectOptions %}
  <option value="{{ option.value }}" {% if option.value == selectedValue %}selected{% endif %}>
    {{ option.label }}
  </option>
{% endfor %}
  {% endif %}
</select>

<span class="text-danger d-none" id="error-{{ field.name }}"></span>
