<textarea  data-type="text"  class="form-control form-control-user" 
name="inp-{{ field.name }}" 
id="inp-{{ field.name }}"  
data-foriegnTable="{{ foreignTable }}"
data-foriegnId="{{ foreignId }}"
rows="4" cols="50" aria-describedby="{{ field.name }}" {% if disabled %}disabled{% endif %}
{% if field.isRequired %}required{% endif %}>
</textarea>
<span class="text-danger d-none" id="error-{{field.name}}"></span>  
