---
layout: layout.njk
permalink: settings
---
{% set theJs %}
    {% include 'js/account-settings.js' %}
{% endset %}
<!-- Page Heading -->

<div class="alert alert-success  d-none" role="alert" id="accountsSuccess">
</div>
<div class="alert alert-danger  d-none" role="alert" id="accountsAlert">
</div>
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" id="data-header">Settings</h1>
        <a href="/dashboard/" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-backward fa-sm text-white-50"></i> Back</a>
    </div>
<p class="mb-4">
</p>
<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control form-control-user" id="inp-name" aria-describedby="Name" value="" >
    <span class="text-danger" id="error-name"> </span>  
</div>
<div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control form-control-user" id="inp-email" aria-describedby="Email" value="" >
    <span class="text-danger" id="error-email"> </span>  
</div>
<div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control form-control-user" id="inp-phone" aria-describedby="Phone" value="" >
    <span class="text-danger" id="error-phone"> </span>  
</div>
<div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control form-control-user" id="inp-username" aria-describedby="Username" value="" >
    <span class="text-danger" id="error-username"> </span>  
</div>
<button class="btn btn-primary btn-user btn-block" id="btn-update">
    Update  
</button>
Change Password
<div class="form-group">
  <label>Old Password</label>
  <input type="password" class="form-control form-control-user" id="inp-old-password">
  <span class="text-danger" id="error-old-password"></span>
</div>
<div class="form-group">
  <label>New Password</label>
  <input type="password" class="form-control form-control-user" id="inp-new-password">
  <span class="text-danger" id="error-new-password"></span>
</div>
<div class="form-group">
  <label>Confirm New Password</label>
  <input type="password" class="form-control form-control-user" id="inp-confirm-password">
  <span class="text-danger" id="error-confirm-password"></span>
</div>
<button class="btn btn-primary btn-user btn-block" id="btn-update-password">
  Update Password
</button>
    <script type="text/javascript">{{theJs | safe}}</script>

