<!DOCTYPE html>
<html>
<head>
    <title>Edit {{ tableName }}</title>
</head>
<body>
    <h1>Edit {{ tableName }}</h1>
    <form action="/edit_{{ tableName }}" method="post">
        {% for field in fields %}
            {% if field.name and field.name | slice(0, 3) != "_as" %}
                <label>{{ field.name }}
                    <input name="{{ field.name }}" type="text" {% if field.default %} value="{{ field.default }}" {% endif %}>
                </label><br>
            {% endif %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>



