---
layout: layout.njk
---
{% set theJs %}
    {% include 'js/tableAdd.js' %}
{% endset %}
<!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" id="data-header"></h1>
        <a href="javascript:history.back()" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-backward fa-sm text-white-50" id="btn-back-cy"></i> Back</a>
    </div>
<p class="mb-4">
</p>

    <div id="formInputs">
     <form action="/add_{{ tableName }}" method="post">
    
    {% set imagePreview = false %} 
    {% set disabled = false %} 
    {% set disableButton = "" %} 
    {% set defaultInteger = 0 %}
     {% for field in fields %}
        {% if field.type == "definition" and field.variant == "constraint" %}
            <!-- stop look up rendering this is a bug we have to fix later -->
        {% else %}
            {% if field.name != "id" %}
               
                {% if field.name != "" and field.name != null %}
                    <div class="form-group">
                        {% if field.name == "image" %}
                            {% include "htmlinputs/image.njk"  %}
                            {% set disableButton = "disabled" %}
                        {% else %}
                        
                            {% if field.foreignTable or field.selectOptions  %}
                                {% include "htmlinputs/select.njk"  %}
                            {% else %}
                                {% if field.datatype.variant == "integer" %}
                                    {% include "htmlinputs/integer.njk"  %}
                                {% elif field.datatype.variant == "real" %}
                                    {% include "htmlinputs/real.njk"  %}
                                {% elif field.datatype.variant == "text" %}
                                    {% include "htmlinputs/text.njk" %}
                                {% elif field.datatype.variant == "varchar" %}
                                    {% include "htmlinputs/varchar.njk"  %}
                                {% else %}
                                    {% include "htmlinputs/default.njk" %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
             {% endif %}
        {% endif %}
    {% endfor %}
    </form>
    </div>
     <input type="hidden" id="formTableName" name="formTableName" value="">

<button class="btn btn-primary btn-user btn-block" id="btn-create" {{ disableButton }}>
    Create
</button>
<script type="text/javascript">{{theJs | safe}}</script>


