export async function onRequest(context) {
  const { request, env, params } = context;
  const method = request.method.toUpperCase();
  switch (method) {
    case "GET":
      return handleGet(request, env, params, context);
    case "POST":
      return handlePost(request, env, params, context);
    case "PUT":
      return handlePut(request, env, params, context);
    case "DELETE":
      return handleDelete(request, env, params), context;
    default:
      return new Response("Method Not Allowede", { status: 405 });
  }
}

async function handleGet(request, env, params, context) {
  const url = new URL(request.url);
  const id = url.searchParams.get("id"); // Get 'id' from query string
  const tableName = "{{ tableName }}";
  if (id != null) {
    let query = context.env.DB.prepare(
      `SELECT * FROM ${tableName} WHERE "id" = ${id}`
    );
    const result = await query.first();
    return new Response(JSON.stringify({ data: result }), {
      status: 200,
    });
  } else {
    let query = context.env.DB.prepare(`SELECT * FROM ${tableName}`);
    const result = await query.all();
    return new Response(JSON.stringify({ data: result.results }), {
      status: 200,
    });
  }
}

async function handlePost(request, env, params, context) {
  try {
    const data = await request.json();
    return new Response(
      JSON.stringify({ message: "POST create new ${table}", data }),
      { status: 201 }
    );
  } catch (error) {
    return new Response(JSON.stringify({ error: error.message }), {
      status: 500,
    });
  }
}

async function handlePut(request, env, params, context) {
  try {
    const { id } = params;
    const data = await request.json();
    return new Response(
      JSON.stringify({ message: "PUT update ${table} by ID", id, data }),
      { status: 200 }
    );
  } catch (error) {
    return new Response(JSON.stringify({ error: error.message }), {
      status: 500,
    });
  }
}

async function handleDelete(request, env, params, context) {
  try {
    const { id } = params;
    return new Response(
      JSON.stringify({ message: "DELETE ${table} by ID", id }),
      { status: 200 }
    );
  } catch (error) {
    return new Response(JSON.stringify({ error: error.message }), {
      status: 500,
    });
  }
}
