<!DOCTYPE html>
<html>
<head>
    <title>Database Tables</title>
</head>
<body>
    <h1>Database Tables</h1>
    <ul>
        {% for table in tables %}
        <li><a href="{{ table }}/index.html">{{ table }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
